.categories {
  background-color: white;
}

.categorySlider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.display-2 {
  padding: 40px;
  font-weight: 500;
  font-size: 50px;
}
