.card{
    padding: 10px;  
    width: 200px;
 }
 
.cardImg{
    height: 200px;
    
}
.categorySlider{
    width: 79%;
}

.slick-track{
    width: 90%; 
    height: 300px;
}
.slick-slider {
   margin: -41px 38px;
    width: 95%;
    /* width: 382px; */
}
.slick-list {
    
    margin: 0 -10px;

  }
 .slick-arrow{
    background: #ccc;
    
 }
 .slick-arrow :hover {
    background: rgb(150, 150, 228);
 }