.searchSection {
  max-width: 100%;
  color: #fff;
  background-image: url("../../img/istockphoto-1208657520-612x612.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
  font-family: sans-serif;
}
.searchBarDiv {
  width: 100%;
}

.searchSection h1 {
  font-size: 70px;
  font-weight: bold;
  margin-top: 50px;
}

.searchSection p {
  font-size: 30px;
}
.searchBarDiv {
    display: flex;
    justify-content: center;
  }