.footerDiv{
    /* height: 60px; */
    padding-bottom: 10px;
    background-color: #ccc;
    background-image: linear-gradient(to top left,#b9ff00, #cccc4b, green)
}
.migracodeDiv img {
width: 60px;

}
.migracodeLogo{
    display: flex;
    justify-content: space-around;
    width: 144px;
    text-decoration: none;
    color: rgb(46, 45, 45);
    padding-top: 5px;

}

.aboutDiv{
    display: flex;
    padding: 5px px;
    width: 4em;
    
}

