* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Signup {
  /* max-width: 500px; */
  margin: auto;
  padding: 10px;
}
.registration h1 {
  margin: 20px;
  font-family: sans-serif;
  color: #1d6868;
  font-weight: bold;
}
h3 {
  font-size: 15px;
  color: #1d6868;
  text-align: left;
}
.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 481px;
  height: 650px; */
  background-color: #92c6c6;
  border-radius: 30px;
  padding: 20px;
}

.registration input {
  /* width: 303px;
  height: 50px; */
  border-radius: 20px;
  margin: 10px;
  background-color: #d9d9d9;
  color: #6d5858;
  text-align: left;
  padding: 8px;
  border: none;
  font-size: 15px;
}
button {
  width: 151px;
  height: 37px;
  border: none;
  border-radius: 20px;
  background-color: #63a4a4;
  color: #175454;
  cursor: pointer;
  text-align: center;

  font-size: 20px;
  font-weight: bold;
  margin: 15px;
}
.text-success {
  background-color: #e4eeee;
  font-size: 20px;
  color: black;
}
