.navBar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #f5f5f5;
  /* padding: 20px; */
}
.main_logo {
  width: 100px;
}
/* .app_name{
    font-size: 2em;
} */

.Btn {
  width: 90px;
  height: 42px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  background: #63a4a4;
  cursor: pointer;
  font-size: 20px;
  color: #1d6868;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  transition: all 1s inherit;
}
.Btn:hover {
  transform: scale(0.1);
  color: #1d6868;
  background-color: #9ba9a5;
}
.navBar {
  /* width: 300px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;

  font-family: sans-serif;
}
.login {
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  color: #1d6868;
  font-weight: bold;
  margin-right: 8px;
  border: none;
}
.login:hover {
  transform: scale(1.2);
  color: #1d6868;
}
.logo {
  padding-left: 20px;
}
