.navBar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* width: 100%; */
  background-color: #f5f5f5;
  /* padding: 20px; */
}
.main_logo {
  width: 100px;
}
/* .app_name{
    font-size: 2em;
} */


.Btn {
  width: 90px;
  height: 42px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  background: #63a4a4;
  cursor: pointer;
  font-size: 20px;
  color: #1d6868;
  font-weight: bold;
  cursor: pointer;
  
}
.navBar {
  /* width: 300px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  /* margin-right: 5px; */
}
.navBar .loginBtn {
  font-size: 20px;
  color: #1d6868;
  font-weight: bold;
  cursor: pointer;
}
.logo{
  padding-left: 20px;
}
