.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;

}


.body-product  {
  background-color: #56c9b6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

